footer {
    display: flex; /* visualizar contenido  */
    justify-content: center; /* se aplica a display: flex  para que el texto quede centrado*/
    padding: 10px; /* Espacio entre el contenido y los bordes*/
    background-color: #4392aa; /*color de fondo*/
    color: #f5eeee; /*Color de letra*/
    }

textarea[name="user-input"] {
    display: flex;
    justify-content: center;
    padding: 4px;
    background-color: #f8f9fa;
}
h3 {
    border: #4392aa 1px;
}
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #42869b;
    color: #e9e3e3;
    }        

.box {
    padding: 10px;
    display:flex;
    justify-content:center;
    background-color: rgb(243, 238, 235);
    }

ul {
    display:flex;
    justify-content:space-between;
    margin: 30px 60px 45px 85px; 
    padding: 30px;
    border: 1px;
    padding: 10px ;
    }

#reset-button {
    padding: 10px;
    display:flex;
    justify-content:center;
    background-color: rgb(220, 222, 231);
    }
   

.Total {
    justify-content:center;
    width: 120px; /* Ancho del cuadro */
    height: 60px; /* Altura del cuadro */
    border: 1px solid rgb(243, 238, 238); /* Borde para visualizar el cuadro */
    padding: 10px;
    background-color:  rgb(220, 222, 231);
    
    }  









    
